.pageWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > * {
        padding: 2em 1em;
    }

    > .headerWrapper {
        background: linear-gradient(
            90deg,
            #343333 17%,
            #484848 59%,
            #282828 99%
        );
        padding: 2em 1em;
        justify-content: space-between;
    }
}